﻿body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-index {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-index .form-index-heading {
    margin-bottom: 10px;
}
.form-index .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-index .form-control:focus {
    z-index: 2;
}
.form-index input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}