﻿@using TestTaskWebApp.Models;
@model Sequnce
@section Styles{
    <link href="../../Content/index.css" rel="stylesheet" type="text/css">
}
@{
    ViewBag.Title = "Main";
}
<div class="container">
    
@using (@Html.BeginForm("WriteSequence", "Main", FormMethod.Post, new {@class = "form-index"}))
{
    <form class="form-index">
        <h2 class="form-index-heading">Тестовое задание</h2>
        <label for="inputStudents" class="sr-only">Количество студентов</label>
        <input type="text" id="inputStudents" name="students" class="form-control" placeholder="Количество студентов" required autofocus>
        <label for="inputLimits" class="sr-only">Ограничения по сообщениям</label>
        <input type="text" id="inputLimits" name="limits" class="form-control" placeholder="Ограничения по сообщениям" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Показать вывод</button>
    </form>
}
    
    @foreach (var line in Model.OutputList)
    {
        <h4 class="text-center">@line</h4>
    }
    
    
    

</div> <!-- /container -->

